<!-- BEGIN LOGO -->
<div class="logo">
	<a href="">
		<img ng-src="{{vm.app_image_url + 'logo.png'}}" alt="" />
	</a>
</div>
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" name="forgotPwdForm" novalidate="">
		<h3 class="form-title font-green">Forgot Password ?</h3>
		<p> Enter your e-mail address below to reset your password. </p>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email"
			    ng-model="vm.user.email" required="" />
			<span ng-if="forgotPwdForm.$invalid && forgotPwdForm.$submitted">
				<span class="text-danger" ng-if="forgotPwdForm.email.$error.required">Email is required.
				</span>
				<span class="text-danger" ng-if="forgotPwdForm.email.$error.email">Valid email is required.
				</span>
			</span>
		</div>
		<div class="form-actions">
			<a class="btn btn-default" ui-sref="login" id="back-btn" type="button">Back</a>
			<button type="submit" ng-click="vm.forgotPassword(forgotPwdForm.$valid)" class="btn green uppercase pull-right">Submit</button>
		</div>
	</form>
	<!-- END LOGIN FORM -->
</div>
<div class="copyright"> © All Rights Reserved {{vm.currentDateYear}} GujaratSamachar.com </div>