<!-- middle content end -->
<div ng-controller="magazines-home.controller">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="mainFullBlock">
                <div class="gCard">
                    <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>હોરાઈઝન - ભવેન કચ્છી</h2>
                        <p>August 06 at 2:15am</p>
                        <p>આપણે વેલેન્ટાઈન ડે, ફ્રેન્ડશીપ ડે, ફાધર્સ ડે અને મધર્સ ડે જેવા વિદેશી ડેઝને આપણી સંસ્કૃતિનો જાણે ...</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                <div class="categoryContent">
                    <h2>સ્પેક્ટ્રોમીટર- જય વસાવડા</h2>
                    <p>August 06 at 2:13am</p>
                    <p>સુરેશ દલાલની આ કવિતામાં ફ્રેન્ડશિપ ડેના રંજન કરતાં રંજ વધુ છે. ડાર્ક શેડમાં દોરી જતાં કવિ મનો...</p>
                    <a href="" class="moreAnchoreBlock">More</a>
                </div>
            </div>
            <div class="categoryBlock">
            <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
            <div class="categoryContent">
                <h2>ટોકિંગ પોઈન્ટ - સુદર્શન ઉપાધ્યાય</h2>
                <p>August 06 at 2:10am</p>
                <p>કોંગ્રેસયુક્ત ભાજપ એ તા. ૨૮ જુલાઇના રોજના ગુજરાત સમાચારનું મેઇન હેડીંગ હતું. તમામ ભાજપી...</p>
                <a href="" class="moreAnchoreBlock">More</a>
            </div>
        </div>
        <div class="categoryBlock">
        <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
        <div class="categoryContent">
            <h2>હોટલાઈન - ભાલચંદ્ર જાની</h2>
            <p>August 06 at 2:08am</p>
            <p>તમે આધાર કાર્ડ કઢાવ્યું? છેલ્લા કેટલાંક મહિનાથી દેશભરમાં સૌ પોતાનું આધાર કાર્ડ મેળવવા તત્પર ...</p>
            <a href="" class="moreAnchoreBlock">More</a>
        </div>
    </div>
    <div class="categoryBlock">
    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
    <div class="categoryContent">
        <h2>ફયુચર સાયન્સ - કે.આર.ચૌધરી</h2>
        <p>August 06 at 2:05am</p>
        <p>WHO નાં સમાચાર પ્રમાણે વિશ્વમાં ૧૯૮૦ બાદ મેદ ધરાવતાં લોકોની સંખ્યા બમણી થઇ ગઇ છે. ૨૦૧૪.............</p>
        <a href="" class="moreAnchoreBlock">More</a>
    </div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
    <h2> ફયુચર સાયન્સ - કે.આર.ચૌધરી</h2>
    <p>August 06 at 2:05am</p>
    <p>WHO નાં સમાચાર પ્રમાણે વિશ્વમાં ૧૯૮૦ બાદ મેદ ધરાવતાં લોકોની સંખ્યા બમણી થઇ ગઇ છે. ૨૦૧૪...</p>
    <a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
<h2>અગોચર વિશ્વ - દેવેશ મહેતા</h2>
<p>August 06 at 2:04am</p>
<p>વૃક્ષો અને વનસ્પતિઓમાં પણ આત્મા હોય છે. તે પ્રાણશક્તિ અને જીવનતત્ત્વ ધરાવે છે એ વાત હજારો વર્ષો...</p>
<a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
<h2>ઍનકાઉન્ટર- અશોક દવે</h2>
<p>August 06 at 2:04am</p>
<p>તુચ્છ ઉત્પાદનોની જાહેરાતોમાં અમિતાભ જેવો આદરણીય કલાકાર કામ કરે, એ એની પ્રતિભાને ઝાંખપ લાગે...</p>
<a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
<h2>પારિજાતનો પરિસંવાદ - ડૉ. કુમારપાળ દેસાઈ</h2>
<p>August 06 at 2:00am</p>
<p>ઇતિહાસ ગવાહ છે કે રાષ્ટ્રને આઝાદી અપાવનાર કોઈપણ સ્વાતંત્ર્યવીર એની આઝાદીની ઊજવણીમાં સદાય...</p>
<a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
<h2>મેનેજમેન્ટ - ધવલ મહેતા</h2>
<p>August 06 at 2:00am</p>
<p>દામોદર કંપનીની સ્થાપના ૧૯૯૦માં ગુજરાતમાંથી મુંબઈ વસેલા દામોદર મીસ્ત્રીએ કરી હતી. આ કંપની...</p>
<a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="categoryBlock">
<figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
<div class="categoryContent">
<h2>ફિટનેસ - મુકુંદ મહેતા</h2>
<p>August 06 at 2:00am</p>
<p>તમે ગમે તેટલા થાકેલા હો ત્યારે પણ ઊંઘ નથી આવતી કે અર્ધી રાત્રે જાગી જાઓ છો પછી ઘડિયાળ જોયા...</p>
<a href="" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">

<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
</ul>

</div>
</div>
</div>
<div class="gCardTitle mt1">
<h4>Mumbai  News for Aug, 2017  </h4></div>
<div class="gCard">
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">

<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
</ul>

</div>
<div class="col-md-6 col-sm-6 col-xs-12">

<p class="input-group datepicker">
<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
<span class="input-group-btn">
<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
</span>
</p>

</div>
</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="ngCard mt15">
<div class="gCardTitle">
<h4>NATIONAL</h4>
</div>
<ul class="glist-style">
<li><a href=""> વેંકૈયા નાયડૂને રામનાથ કોવિંદે લેવડાવ્યા શપથઃ 13માં ઉપરાષ્ટ્રપતિ</a></li>
<li><a href="">દિલ્હીમાં બે બાળકો સહિત 25થી વધુ લોકો મોમોસ ખાદ્યા બાદ બિમાર</a></li>
<li><a href="">Video: થાણેમાં ટ્રાફિક પોલીસને થપ્પડ મારતો વીડિયો સોશિયલ મીડિયામાં વાઈરલ</a></li>
<li><a href="">૨૦૦૫ના 'કેશ ફોર કવેશ્ચન'કૌભાંડમાં ૧૧ સાંસદો સામે ચાર્જશીટનો કોર્ટનો હુકમ</a></li>
<li><a href="">એઆઇએડીએમકે બંને જૂથો ૧૫ ઓગસ્ટ પહેલા એક થવાની શક્યતા</a></li>
<li><a href=""> આગરામાં 'તાજમહેલ' છે કે 'તેજો મહાલય' તે બાબત સ્પષ્ટ કરવા સરકારને નિર્દેશ</a></li>
<li><a href="">એમ્બી વેલીની હરાજી રોકવાની સહારાની અરજીને સુપ્રીમે ફગાવી</a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="ngCard mt15">
<div class="gCardTitle">
<h4>INTERNATIONAL</h4>
</div>
<ul class="glist-style">
<li><a href="">પુત્રી પર બળાત્કાર અને જાતીય હુમલા બદલ પિતાને '૧૨૦૦૦' વર્ષની સજા</a></li>
<li><a href="">દાણચોરોએ 180 શરણાર્થીઓને યમનના દરિયામાં ફેંકી દીધાં : 5ના મોત, 25 ઘાયલ</a></li>
<li><a href="">શરીફને બરતરફ કર્યા પછી પાકિસ્તાન સેના અને સરકાર વચ્ચે ઘર્ષણ વધ્યુ</a></li>
<li><a href="">ટ્રમ્પમાં સમજણનો અભાવ : ઉત્તર કોરિયાએ અમેરિકી પ્રમુખની મજાક ઉડાવી</a></li>
<li><a href="">પાકિસ્તાનમાં આગામી ચૂંટણી સુધી અબ્બાસીને વડાપ્રધાનપદે ચાલુ રાખવા શરીફનું સૂચન</a></li>
<li><a href="">આવનારા તેર વર્ષોમાં વાયુપ્રદૂષણથી 60 હજાર લોકો પોતાનો જીવ ગુમાવશે</a></li>
<li><a href="">બાંગ્લાદેશમાં ભ્રષ્ટાચારના કેસમાં પૂર્વ વડાપ્રધાન ખાલેદા ઝીયાને જામીન</a></li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
</div>
</div>
</div>
<div class="sideBar" ng-include="'partial-views/inner-side-bar.html'"></div>
</div>
</div>