<div class="tab-content">
	<div id="tab_2" class="tab-pane active">
		<div class="portlet box blue" style="margin-bottom: 0px;">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-unlock-alt"></i> Change password
				</div>
				<div class="tools"></div>
				<div class="actions">
					<div class="btn-group">
						<a title="Back" href="javascript:;" ng-if="vm.isFromModel" ng-click="vm.cancel()" class="btn btn-circle red-sunglo">Back</a>
						<a title="Back" href="javascript:;" ng-if="!vm.isFromModel" onclick="history.go(-1)" class="btn btn-circle red-sunglo">Back</a>
					</div>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form class="form-horizontal" name="vm.confirmPwdForm" role="form" novalidate>
					<div class="form-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label col-md-4">Current Password <span class="required" aria-required="true">*</span></label>
									<div class="col-md-8">
										<input type="password" placeholder="Current Password" class="form-control" name="password" ng-model="vm.user.currentPassword" required>
										<span ng-if="vm.confirmPwdForm.$invalid && vm.confirmPwdForm.$submitted">
											<!-- <span class="text-danger" ng-if="vm.confirmPwdForm.password.$error.pattern">
											Current Password must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)
											</span> -->
										<span class="text-danger" ng-if="vm.confirmPwdForm.password.$error.required">Current Password is required.
										</span>
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label col-md-4">New Password<span class="required" aria-required="true">*</span></label>
									<div class="col-md-8">
										<input type="password" placeholder="New Password" class="form-control" name="newPassword" ng-model="vm.user.newPassword"
										 ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
										<span ng-if="vm.confirmPwdForm.$invalid && vm.confirmPwdForm.$submitted">
											<span class="text-danger" ng-if="vm.confirmPwdForm.newPassword.$error.pattern">
											New Password must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)
											</span>
										<span class="text-danger" ng-if="vm.confirmPwdForm.newPassword.$error.required">New Password is required.
										</span>
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label col-md-4">Confirm New Password<span class="required" aria-required="true">*</span></label>
									<div class="col-md-8">
										<input type="password" placeholder="Confirm New Password" class="form-control" name="confirmNewPassword" ng-model="vm.user.confirmNewPassword" required>
										<span ng-if="vm.confirmPwdForm.$invalid && vm.confirmPwdForm.$submitted">
											<span class="text-danger" ng-if="vm.confirmPwdForm.confirmNewPassword.$error.required">Password is required.
											</span>
										</span>
										<span class="text-danger" ng-if="!vm.confirmPwdForm.confirmNewPassword.$error.required && (vm.user.newPassword != vm.user.confirmNewPassword)">
							              New password and confirm new password doesn't match
							            </span>
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
						<div class="row" ng-if="vm.isFromModel">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label col-md-4">Send Email to User</label>
									<div class="col-md-2">
										<input type="checkbox" class="form-control send-mail-check" name="isSendMail" ng-model="vm.user.isSendMail">
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-offset-4 col-md-8">
										<a class="btn default" ng-if="vm.isFromModel" ng-click="vm.cancel()">Cancel</a>
										<a class="btn default" ui-sref="root.userList.id({pageId:1})" ng-if="!vm.isFromModel">Cancel</a>
										<button ng-if="!vm.userId" ng-click="vm.changePassword(vm.confirmPwdForm.$valid, !(vm.user.newPassword != vm.user.confirmNewPassword))" class="btn blue" type="submit">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
	</div>
</div>