<!-- middle content end -->
<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="mainFullBlock">
        <div class="gCardTitle">
                <h4>Archive Poll News for 02/08/2017 </h4></div>
            <div class="gCard">
                <div class="categoryBlock">
                    <div class="categoryContent">
                       <p>No Articles Found of Date: 02/08/2017</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gCardTitle mt1">
            <h4>Poll  News for Aug, 2017 </h4></div>
        <div class="gCard">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div ng-controller="category-home.controller">
                        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div ng-controller="category-home.controller">
                        <p class="input-group datepicker">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
          </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>