<gs-loading show-loader="!vm.dataLoaded">
    <div class="container sitemap-container">
        <div class="flex-row row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h2 class="sitemapTitle">Categories</h2>
                        <ul>
                            <li ng-repeat="(key, category) in ::vm.mainCategories track by $index" ng-switch on="category.name" ng-if="::(category.name !== 'Magazines')">
                                <a ui-sref="root.mainSidebar.home" ng-switch-when="Home">{{::category.name}}</a>
                                <a ui-sref="root.mainSidebar.articleList({ Id : category.Id, slug: category.slug, pageIndex : 1, date:'', listType:'category'})" ng-if="category.name !== 'Home'">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.thumbnail -->
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="thumbnail ">
                    <div class="caption">
                        <h2 class="sitemapTitle">Editorial</h2>
                        <ul>
                            <li ng-repeat="(key, category) in ::vm.vaividhyaLinks track by $index">
                                <a ui-sref="root.mainSidebar.articleList({ Id : category.Id, slug: category.slug, pageIndex : 1, date:'', listType:'category'})" ng-if="category.name !== 'Home'">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.thumbnail -->
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h2 class="sitemapTitle">Magazines</h2>
                        <ul>
                            <li ng-repeat="(key, magazine) in ::vm.magazines"><a ui-sref="root.mainSidebar.articleByMagazine({slug:magazine.slug,pageIndex : 1, date:''})">{{::magazine.name}} </a></li>
                        </ul>
                        <h2 class="sitemapTitle">About Us</h2>
                        <ul>
                            <li><a ui-sref="root.staticPage({pageType:'about-us'})"> About Us </a></li>
                            <li><a ui-sref="root.staticPage({pageType:'contact-us'})"> Contact Us </a></li>
                            <li><a ui-sref="root.staticPage({pageType:'terms-condition-with-us'})">Terms and Conditions </a></li>
                            <li><a ui-sref="root.staticPage({pageType:'advertise-with-us'})"> Advertise with us </a></li>
                            <li><a ui-sref="root.staticPage({pageType:'feed-back'})">Feedback </a></li>
                        </ul>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.thumbnail -->
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h2 class="sitemapTitle">City News</h2>
                        <ul>
                            <li ng-repeat="(key, city) in ::vm.cities track by $index"><a ui-sref="root.mainSidebar.articleList({Id : city.Id, slug: city.slug, pageIndex : 1, date:'', listType: 'city'})"> {{::city.name}} </a></li>
                        </ul>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.thumbnail -->
            </div>
        </div>
        <!-- /.flex-row  -->
    </div>
    <!-- /.container  -->
</gs-loading>