<!-- breaking news start -->
<div class="breakingNews">
  <div class="row">
    <div class="col-md-12">
      <div class="bannerImage">
      <a href="#">
        <div class="overlay"></div>
        <div class="newIcon"><figure><img src="assets/images/breaking-news-icon.png" alt="" /></figure></div>
        <div class="caption">
        <p>મુંબઈથી દિલ્હી જઈ રહેલી જેટ એરવેઝની ફ્લાઈટને હાઈજેક કરવા ની અથવા તો બોમ્બ હોવાની આશંકાએ ફ્લાઈટનું અમદાવાદ એરપોર્ટ ઉપર ઈમરજન્સી લેન્ડિંગ કરવામાં આવ્યું હતું.</p>
        </div>
        <figure><img src="assets/images/breking-news-banner.jpg" alt="" /></figure>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- breaking news end -->

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12"> 
    <!-- slider-start -->
      <div class="singleImageSlider mb1">
        <slick class="row" settings="slickConfig1" ng-if="slickConfig1Loaded" dots="false"  slides-to-show=2 slides-to-scroll=1 infinite=true>
          <div class="col-md-6">
            <div class="singleImageSliderBlock"> <a href="javascript:void(0)">
              <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ</h2>
              <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
              </a> </div>
          </div>
          <div class="col-md-6">
            <div class="singleImageSliderBlock"> <a href="javascript:void(0)">
              <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ 2</h2>
              <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
              </a> </div>
          </div>
          <div class="col-md-6">
            <div class="singleImageSliderBlock"> <a href="javascript:void(0)">
              <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ 3</h2>
              <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
              </a> </div>
          </div>
        </slick>
      </div>
    
    <!-- slider-end --> 
    <!-- Main news section start -->
    <div class="mainNewsSection">
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="mainNewsBox"> <a href="javascript:void(0)"> અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ </a> </div>
        </div>
      </div>
    </div>
    <!-- Main news section end --> 
    <!-- advertisement start -->
    <div class="mt1 advertisementSection mb1"><img src="assets/images/advertisement-774.png" alt="" /></div>
    <!-- advertisement end --> 
    <!-- Multi-news-section start -->
    <div class="multiNewsSection">
      <div class="multiNewsTicker">
      <div class="multiNewsTickerControls">
        <button ng-click="slickConfig5.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
        <button ng-click="slickConfig5.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
        </div>
        <slick settings="slickConfig5" ng-if="slickConfig5Loaded" dots="true" infinite=true class="multiNewsTickerList">
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Ahmedabad</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)"> Baroda </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Surat</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Rajkot </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Bhavnagar</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Bhuj </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Kheda-Anand</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">North Gujarat </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Gandhinagar</a></div>
          </slick>
      </div>
        
      <div class="multiNewsBlock">
        <div class="row no-gutters">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="multiNewsBlockFull">
              <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન,</h2>
              <figure> <a href="javascript:void(0)"> <img src="assets/images/news-img-3.png" alt="" /> </a> </figure>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"> <a href="javascript:void(0)" class="moreAnchore">More</a> </div>
        </div>
      </div>
    </div>
    <!-- Multi-news-section end --> 
    <!-- Multi-news-section start -->


    <div class="multiNewsSection mt1">
      <div class="multiNewsTicker">
      <div class="multiNewsTickerControls">
        <button ng-click="slickConfig6.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
        <button ng-click="slickConfig6.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
        </div>
        <slick settings="slickConfig6" ng-if="slickConfig6Loaded" dots="true" infinite=true class="multiNewsTickerList">
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Ahmedabad</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)"> Baroda </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Surat</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Rajkot </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Bhavnagar</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Bhuj </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Kheda-Anand</a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">North Gujarat </a></div>
          <div class="multiNewsTickeritem"><a href="javascript:void(0)">Gandhinagar</a></div>
          </slick>
      </div>
      <div class="multiNewsBlock">
        <div class="row no-gutters">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="multiNewsBlockFull">
              <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન,</h2>
              <figure> <a href="javascript:void(0)"> <img src="assets/images/news-img-3.png" alt="" /> </a> </figure>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
            <div class="multiNewsBlockHalf"> <a href="javascript:void(0)">૧૩ પોઈન્ટ ઘટી ૯૧૨૨ ઉપર. બજાર બંધ</a> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"> <a href="javascript:void(0)" class="moreAnchore">More</a> </div>
        </div>
      </div>
    </div>
    <!-- Multi-news-section end --> 
    <!-- News-gallery section start -->
    <div class="pillSection singleImageContentSliderSection mt1">
     
        <uib-tabset type="pills">
          <uib-tab heading="Photo Gallery">
              <div class="singleImageContentSliderControls">
                <button class="" ng-click="slickConfig3.method.slickNext()"><img src="assets/images/next-arrow-icon1.png" alt="" /></button>
                <button class="" ng-click="slickConfig3.method.slickPrev()"><img src="assets/images/prev-arrow-icon1.png" alt="" /></button>
              </div>
              <div class="singleImageContentSlider">
                <slick settings="slickConfig3" ng-if="slickConfig3Loaded" dots="true"  slides-to-show=3 slides-to-scroll=1 infinite=true  custom-paging="customPagingFn(slick, index)" class="row">
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <!-- <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div>
                  <div class="col-md-4">
                    <div class="singleImageContentSliderBlock"> <a href="javascript:void(0)">
                      <figure><img src="assets/images/news-img-2.png" alt="" /></figure>
                      <p>કથક કદમબકદમ બડછટ, અશક. લબકલબક ગઇ, કદમબકદમ વજન એકડ </p>
                      </a> </div>
                  </div> -->
                </slick>
              </div>
            
          </uib-tab>
          <uib-tab heading="Slide Show">Slide Show </uib-tab>
          <uib-tab heading="Video Galley">Video Galley</uib-tab>
        </uib-tabset>
     
    </div>
    <!-- news-gallery section end --> 
    <!-- Magazine section start -->
    <div class="magazineSection pillSection">
      <uib-tabset type="pills">
        <uib-tab heading="Magazine">
          <div class="magazineSectionInner">
            <ul class="list-inline">
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-1.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-2.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-3.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-4.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-5.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-6.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-7.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-8.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-9.png" alt="" /></a></figure>
              </li>
              <li>
                <figure><a href="javascript:void(0)"><img src="assets/images/magazine-10.png" alt="" /></a></figure>
              </li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab heading="Gujarat samachar pdf" classes="">Gujarat samachar pdf </uib-tab>
        <uib-tab heading="Gujarat samachar Archive" classes="">Gujarat samachar Archive</uib-tab>
        <uib-tab heading="USA ADS" classes="">USA ADS</uib-tab>
      </uib-tabset>
    </div>
    <!-- Magazine section end --> 
  </div>
  <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
