<!-- middle content start -->
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="gCard mainFullBlock">
      <div class="mainTitle">
        <h1 class="mt0">વધી રહી છે વિદેશી કૂતરાની તસ્કરીઃ એરપોર્ટ ઉપર પકડાય છે આવા કેસ</h1>
      </div>
      <figure> <a href="javascript:void(0)"> <img src="https://dummyimage.com/wsxga" alt=""> </a> </figure>
      <div class="contdesc">
        <h3>વિદેશી કૂતરાંના ભારતમાં મળે છે ઊંચા ભાવ - ડોગ ફાઈટ માટે પણ લવાય છે વિદેશથી કૂત</h3>
        <p>નવી દિલ્હી, તા. 31 જુલાઈ 2017, સોમવાર હાલમાં એરપોર્ટ વિભાગ કૂતરાની તસ્કરીને રોકવા માટે યાત્રીઓના બેગનું સ્કેનિંગ અને તપાસ વધુ સઘન બનાવી છે. વિદેશથી બેગમાં પ્રેગ્નેટ કૂતરા ભરીને લાવવામાં આવે છે.</p>
        <p> યુરોપનો પ્રવાસ કરીને આવો અને ઈન્દિરા ગાંધી ઈન્ટરનેશનલ એરપોર્ટ પર કસ્ટમ વિભાગ તમારું બેગ અડધો કલાક કે તેથી વધુ સમય સુધી ચકાસે તો પરેશાન થવાની જરુર નથી. બની શકે કે કસ્ટમ વિભાગ તમારું બેગ સ્કેન કરી રહ્યું હોય જેથી એ ખ્યાલ આવે કે ક્યાંક બેગમાં કૂતરું તો સંતાડ્યું નથીને. હાલમાં જ એવા ઘણાં કેસો સામે આવ્યા છે કે જેમાં યાત્રીઓ સૂટકેસમાં કુતરાંના બચ્ચાને ગેરદાયદેસર રીતે લાવવાની કોશિશ કરે છે.</p>
        <h3>કેવી રીતે કરવામાં આવે છે કૂતરાઓનું સ્મગલિંગ?</h3>
        <p>"આ કૂતરાને બેભાન કરીને બેગમાં બંધ કરી દેવામાં આવે છે. ઘણી વખત તેમને કપડા કે બીજા સામાનની વચ્ચે મૂકવામાં આવે છે જેથી સ્કેનિંગ દરમિયાન તે પકડાય નહીં. કુતરાંને આ રીતે બેગમાં બંધ કરવા તેમને ઘણી તકલીફ આપવા જેવું છે."</p>
        <h3>કેમ કરવામાં આવે છે કૂતરાઓની તસ્કરી?</h3>
        <p>પાછલા વર્ષે પણ કસ્ટમ અધિકારીઓએ આવા કેસો જોયા હતા જેમાં યાત્રીઓ પ્રેગ્નેન્ટ ડોગને આ રીતે ભારત લાવવાની કોશિશ કરી. સૂત્રોએ જણાવ્યું કે, "આ વિદેશી બ્રીડના કૂતરા છે અને તેમને અહીં લાવીને લોકલ માર્કેટમાં ઘણાં ઊંચા ભાવે વેચવામાં આવે છે." એક વ્યક્તિની બેગમાંથી કૂતરું મળ્યા પછી તેની અટકાયત કરવામાં આવી હતી.</p>
        <p>સૂત્રોના જણાવ્યા પ્રમાણે "રશિયા કે ઈસ્ટર્ન યુરોપથી આવનારી ફ્લાઈટના યાત્રીઓ પર કડક નજર રાખવામાં આવે છે." પંજાબ અને અન્ય જગ્યાઓ પર થનારી 'ડોગ ફાઈટ' માટે પણ આ રીતે કૂતરાઓને લાવવામાં આવે છે. આ કૂતરાઓને ભૂખ્યા રાખવામાં આવે છે અને ફાઈટ કરાવવામાં આવે તો તે સામેવાળા કૂતરાને મારી પણ નાખતા હોય છે.</p>
        <h3>સર્ટિફિકેટ વગર કોઈ જાનવર ભારત ન લાવી શકાય</h3>
        <p>જો કોઈ યાત્રી કોઈ જાનવર લાવે તો તેને ઓથોરિટી પાસે સર્ટિફિકેટ લેવું પડે છે. કેટલાક કેસોમાં અધિકારીઓએ જોયું કે જૂના સર્ટિફિકેટ પર જ નવા જાનવરને ભારતમાં લાવવાની કોશિશ કરવામાં આવે છે. રેવન્યુ ડિપાર્ટમેન્ટના સિનિયર અધિકારીઓએ જણાવ્યું કે તમામ કેસોની તપાસ કરી રહ્યા છે અને કોશિશ કરી રહ્યા છે કે આ પ્રકારના સ્મગલિંગ રેકેટનો અંત લાવવામાં આવે.</p>
      </div>
    </div>
    <div class="row"> 
      <!-- News gallery start -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="whiteBlockGallery mb1 mt15 g-card">
          <div class="whiteBlockGalleryTitle">
            <h4>SPORTS</h4>
            <div class="whiteBlockGalleryControls">
              <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
              <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
              <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
              <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
            </div>
          </div>
          <div class="whiteBlockGallerySlider gCard">
            <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
              <div class="col-md-12">
                <div class="whiteBlockSliderBlock pad1"> <a href="javascript:void(0)">
                  <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                  <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                  <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                  </a>
                  <button class="btn btn-more">More...</button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="whiteBlockSliderBlock pad1"> <a href="javascript:void(0)">
                  <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                  <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                  <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                  </a>
                  <button class="btn btn-more">More...</button>
                </div>
              </div>
            </slick>
          </div>
        </div>
      </div>
      <!-- News gallery start -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="whiteBlockGallery mb1 mt15">
          <div class="whiteBlockGalleryTitle">
            <h4>ENTERTAINMENT</h4>
            <div class="whiteBlockGalleryControls">
              <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
              <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
              <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
              <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
            </div>
          </div>
          <div class="whiteBlockGallerySlider gCard">
            <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
              <div class="col-md-12">
                <div class="whiteBlockSliderBlock pad1"> <a href="javascript:void(0)">
                  <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                  <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                  <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                  </a>
                  <button class="btn btn-more">More...</button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="whiteBlockSliderBlock pad1"> <a href="javascript:void(0)">
                  <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                  <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                  <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                  </a>
                  <button class="btn btn-more">More...</button>
                </div>
              </div>
            </slick>
          </div>
        </div>
      </div>
      <!-- News gallery start --> 
      <!-- Main news section start --> 
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ngCard mt15">
          <div class="gCardTitle">
            <h4>GUJARAT</h4>
          </div>
          <ul class="glist-style">
            <li><a href="">ડિસ્કાઉન્ટ-ઓનલાઇન - Veena World</a></li>
            <li><a href="">અમદાવાદ: વહુએ વૃધ્ધ દંપતિનુ મકાન પચાવી પાડ્યુ,પોલીસે પરત અપાવ્યુ</a></li>
            <li><a href="">આજે ભરતસિંહ સોલંકી બેંગ્લુરૃ પહોંચશે, કામિનીબાએ પુત્રનો જન્મદિવસ ઉજવ્યો</a></li>
            <li><a href="">ધો.૧૨ સાયન્સનું ૭.૬૩, સા.પ્ર.નું ૩૭.૧૫, ધો.૧૦નું ૨૭.૭ ટકા પરિણામ</a></li>
            <li><a href="">કોંગ્રેસના સાત ધારાસભ્યો પાસે ક્રોસ વોટીંગ કરાવવાનો ભાજપનો વ્યૂહ</a></li>
            <li><a href="">અફઘાનિસ્તાન,નેપાળને કરોડોની ખેરાત ને, ગુજરાતના પૂરપિડીતોને માત્ર ૫૦૦ કરોડની જ સહાય</a></li>
            <li><a href="">ચોકની વચ્ચે લાવો,ગદ્દારોને પાઠ ભણાવો, કોંગ્રેસીઓએ ભાજપ કાર્યાલયે દેખાવો કર્યાં</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ngCard mt15">
          <div class="gCardTitle">
            <h4>INTERNATIONAL</h4>
          </div>
         <ul class="glist-style">
            <li> <a href=""> Video : પાકિસ્તાનમાં નવાઝ શરીફની Sonu સ્ટાઇલમાં ઉડી મજાક અમેરિકન </a></li>
            <li> <a href=""> દૂતાવાસના ૭૫૫ અધિકારીઓને રશિયા છોડવાનો પુતિનનો આદેશ પાક.નું </a> </li>
            <li> <a href=""> પીએમ પદ સંભાળનારા અબ્બાસી પર રૃ.૨૨૦ અબજના ભ્રષ્ટાચારનો આરોપ </a> </li>
            <li> <a href=""> કાબુલમાં ઇરાકી દૂતાવાસ પર ISનો આત્મઘાતી હુમલો: ચાર આતંકીનાં મોત </a> </li>
            <li> <a href=""> અમેરિકા ઉ. કોરિયાથી નારાજ હોય તો તેની સાથે વેપાર બંધ કરી દે: ચીન </a></li>
            <li> <a href=""> નવાઝ શરીફે સૈન્યનું અપમાન કરી પોતાને વડા પ્રધાન મોદી જેવા સાબીત</a> </li>
            <li><a href=""> કર્યા : ઇમરાન ખાન રોબોટે પોતાની ભાષા વિકસાવતા ફેસબુકે AI સિસ્ટમ બંધ કરી</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ngCard mt15">
          <div class="gCardTitle">
            <h4>BUSINESS</h4>
          </div>
          <ul class="glist-style">
            <li><a href=""> કેશ એન્ડ ફ્યુચર ઓપ્શન</a></li>
            <li><a href=""> બજારની વાત</a></li>
            <li><a href=""> શેરબજારથી દૂર ના ભાગો... કમાણીની બસ ચૂકી જશો</a></li>
            <li><a href=""> સોના-ચાંદી તેમજ ક્રૂડ તેલના વાયદામાં પ્રવર્તતું મિશ્ર વલણ</a></li>
            <li><a href="">જંગી પેમેન્ટ કટોકટીનો ઉકેલ લાવવા એનએસઈએલ દ્વારા રજૂઆત</a></li>
            <li><a href="">શેરોમાં અવિરત ઐતિહાસિક તેજી : બેંક શેરોની આગેવાનીએ સેન્સેક્સ ૨૦૫ પોઈન્ટ ઉછળીને ૩૨૫૧૫ નવી ઊંચાઈએ</a></li>
            <li><a href="">સ્મોલકેપ ઈન્ડેક્સની સાથોસાથ આ ક્ષેત્રના શેરોની નોંધપાત્ર આગેકૂચ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ngCard mt15">
          <div class="gCardTitle">
            <h4>Religion & Astro</h4>
          </div>
          <ul class="glist-style">
            <li><a href=""> 1 ઓગસ્ટ 2017 : આજનું પંચાગ</a></li>
            <li><a href=""> 1 ઓગસ્ટ 2017 : શું કહે છે તમારી રાશિ?</a></li>
            <li><a href=""> શિવલિંગની પૂજા-અર્ચના કર્યા બાદ રુદ્રાક્ષની માળાથી મંત્રો જાપ કરો</a></li>
            <li><a href=""> સોમવારે શિવ પૂજન કરતા રાખો આટલી વસ્તુઓનું ધ્યાન</a></li>
            <li><a href=""> પાકિસ્તાનમા પણ શિવભક્તો શિવજીની પૂજા-અર્ચના કરે છે</a></li>
            <li><a href=""> ઓગસ્ટ-2017: રાશિવાર શુભાશુભ તારીખ</a></li>
            <li><a href="">31 જુલાઈ 2017 : શું કહે છે તમારી રાશિ?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ngCard mt15">
          <div class="gCardTitle">
            <h4>NRI News</h4>
          </div>
          <ul class="glist-style">
            <li><a href=""> ભારતીય મૂળની પ્રીતી કૌર ગિલ બ્રિટનની પહેલી મહિલા સાંસદ બની</a></li>
            <li><a href="">અમેરિકામાં ટ્રેનની ટક્કર લાગતાંં ભારતીય અમેરિકન વકીલનું મોત</a></li>
            <li><a href=""> મધર્સ ડેની કરેલી શાનદાર ઉજવણી સંગીતના કાર્યક્રમનું આયોજન</a></li>
            <li><a href=""> પારૃલબેન શાહે પાંચમા પછી છઠ્ઠા વર્ષીતપની આરાધના શરૃ કરી</a></li>
            <li><a href=""> શ્યામ તમે વાંસળીના સૂરથી માંડીને મોર બની થનગનાટ કરે સુધીના સોંગ</a></li>
            <li><a href=""> અમેરિકન હેલ્થ કેર : પ્રજાનો ભરોસો જીતાતો નથી</a></li>
            <li><a href="">૩૦ જૂન સુધીમાં PIO કાર્ડને OCI માં બદલવા સત્તાવાળાનો અનુરોધ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
<!-- middle content end -->