<!-- middle content start -->
<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="gCard mainFullBlock">
            <div class="mainTitle">
                <h1 class="mt0">સચોટ અને સલામતી ભરેલું ગર્ભનિરોધક: આઈ.યુ.ડી</h1>
            </div>
            <figure> <a href="javascript:void(0)"> <img src="https://dummyimage.com/wsxga" alt=""> </a> </figure>
            <div class="contdesc mt15">
                <p>અમેરિકામાં બે સ્ત્રીઓ વચ્ચે આવો સંવાદ આપણે સાંભળીએ તો જરા આંચકો લાગે. ''હેલો, તમે કોઈ આઈ.યુ.ડી. વાપર્યું છે? આ આઈયુડી એટલે શું? તેનું પૂરૃ નામ છે: ઈન્ટ્રા યુટેરિન ડિવાઈસ એટલે કે ગર્ભાશયની અંદર મૂકવા માટેનું ગર્ભનિરોધક સાધન આપણા દેશમાં તે સમાન્ય રીતે લૂપ અથવા તો કોપર-ટીના નામથી પ્રચલિત છે. પણ લૂપ અથવા કોપર-ટી એતો આઈયુડીના અનેક પ્રકારોમાંનો એક છે.</p>
                <p>ગર્ભાશયમાં મૂકેલી કોઈ પણ વસ્તુ ગર્ભાધાન થતાં રોકી શકે છે એવો એક સાદો સિધ્ધાંત તેમાં રહેલો છે. (જેમ કે એક નાની રૃમમાં (ગર્ભાશયમાં) એક માણસ (કોપર-ટી) રહેતો હોય તો બીજા માણસને (ગર્ભને) રહેવાની જગ્યા મળે નહિ તેવું.
                </p>
                <p>મોટાભાગની આંકડીઓ પ્લાસ્ટિકની બનેલી હોય છે. અથવા તો તેમાં કોપર (તાંબુ), સોનું, ચાંદી કે સ્ટીલનાવાળ જેવા પાતળા વાયરો વીંટાળેલા હોય છે. જેમાં તાંબાનો વાયર વીંટાળેલો હોય તેને કોપરટી કહે છે. ટી એટલાં માટે કારણકે આંકડી અંગ્રેજી આકારની હોય છે.</p>
                <p>
                    આપણે એ જોઈએ કે આંકડી કેવી રીતે કામ કરે છે. આંકડી (કોપર-ટી) ગર્ભાશયમાં મૂક્યા પછી તેમાંથી તાંબાના કણ છૂટા પડે છે અને કણ ગર્ભાશયની અંદરની દીવાલ સાથે પ્રક્રિયા કરીને તરતના બંધાયેલા બીજાકુંરને ગર્ભાશયની દીવાલમાં દાખલ થતાં રોકે છે.</p>
                <p>
                    ઘણા એમ માને છે કે આંકડીને લીધે ગર્ભાશયમાં સંકોચની પ્રક્રિયા ચાલુ થાય છે. જેને લીધે નવા જ બંધાયેલા ગર્ભને સ્થિર સ્થાન મળતું નથી. અને તે માસિકમાં કચરા રૃપે બહાર ફેંકાઈ જાય છે, પણ આ બધાં જ અનુમાન છે. કારણ કે ઘણીવાર આંકડી મૂક્યા પછી પણ ગર્ભ રહ્યાના દાખલા બને છે. આંકડી કોણ પહેરી ના શકે?
                </p>
                <p>(૧) જેને ગર્ભાશયનો સોજો આવ્યો હોય તેવી સ્ત્રીઓએ સોજો ઉતરી ન જાય ત્યાં સુધી આંકડી પહેરવાની ન જોઈએ.
                </p>
                <p>(૨) જેને ગર્ભ રહ્યો હોય તે સ્ત્રીથી આંકડી પહેરી શકાય નહિ. તેથી જ માસિકના પાંચમા કે છઠ્ઠા દિવસે આંકડી મૂકવામાં આવે છે.</p>
                <p>(૩) જેને લોહીવા થયો હોય તેવી સ્ત્રીઓને આંકડી મૂકી શકાય નહીં, તેમણે પહેલાં લોહીવાની સારવાર લેવી જોઈએ અને તે પછી આંકડી મૂકાવવી જોઈએ.</p>
                <p>(૪) યોનિમાર્ગનું ગર્ભાશયના મુખ કે ગર્ભાશયનું કેન્સર થયું હોય તેવી સ્ત્રીઓને આંકડી મૂકી શકાય નહિં.
                </p>
                <p>(૫) જે સ્ત્રીને હૃદયના વાલ્વની તકલીફ હોય તેને આંકડી મૂકી શકાય નહિ, કારણ કે આંકડીને લીધે ઘણીવાર હૃદય પર સોજા આવે છે. આંકડી કયા સમયે પહેરાય?</p>
                <p>(૧) આંકડી પહેરવાનો સૌથી ઉત્તમ સમય માસિકનો પ મો કે છઠ્ઠો દિવસ છે અથવા તો માસિક પૂરું થઈ ગયા પછીના દિવસે પણ મૂકાવી શકાય.</p>
                <p>(૨) સુવાવડ પછી દોઢ મહિને આંકડી પહેરી શકાય. વળી કાયદેસર રીતે ગર્ભપાત કરાવ્યા પછી તરત જ આંકડી પહેરી શકાય અથવા તો એક મહિના પછી પણ પહેરી શકાય છે. આંકડી પહેર્યા પછી થતી આડ અસર: આંકડી પહેર્યા પછી થતી આડ અસરની ચર્ચા કરતાં પહેલાં એટલું જણાવવાનું આવશ્યક છે કે આ પ્રકારની અસરો બધા જ કેસોમાં થતી નથી, પરંતુ જૂજ કેસોમાં થાય છે.</p>
                <p>(૧) બ્લીડિંગ: સામાન્ય રીતે આંકડી પહેર્યા પછી ત્રણ-ચાર દિવસ બ્લીંડિંગ થાય છે અને તે પછી રતાશ પડતું સફેદ પ્રવાહી પડે છે. ઘણી વખત આ અસર બે-ત્રણ મહિના સુધી પણ ચાલે છે પરંતુ જો તેનાથી વધુ સમય માટે બ્લીડિંગ થાય તો આંકડી બદલાવવી પડે.</p>
                <p> (૨) દુખાવો: સામાન્ય રીતે આંકડી પહેર્યા પછી ત્રણ-ચાર દિવસ પેટનો દુખાવો, કમરનો દુખાવો થતો હોય છે. દુખાવો દૂર કરવાની દવા લેવા છતાં ફેર ન પડતો હોય તો ડૉક્ટરને બતાવવું જરૃરી છે.</p>
                <p>(૩) શરીરનું ધોવાણ: આંકડી પહેર્યા પછી કેટલાક કેસોમાં એક મહિના સુધી સફેદ પાણી પડવાની તકલીફ રહે છે, પરંતુ તે આપોઆપ બંધ થઈ જાય છે અને સારું થઈ જાય છે. આંકડી પહેર્યાં પછી ડૉક્ટરની સલાહ લેવી જરૃરી છે? </p>
                <p>(૧) ચેક અપ: આંકડી પહેર્યા પછી એક મહિના પછી ત્યારબાદ ત્રણ મહિના પછી અને તે પછી એક વર્ષ બાદ ડૉક્ટરને ચેક-અપ માટે બતાવવું અનિવાર્ય છે.</p>
                <p>(૨) બ્લીડિંગ અને દુખાવો: આંકડી પહેર્યા પછી બ્લીડિંગ અને દુખાવો સતત ચાલુ રહે તો હોય, શરીર ફિક્કું પડતું જતું હોય તો તરત જ ડૉક્ટરને બતાવવું.</p>
                <p>(૩) આંકડીનું નીકળી જવું: આંકડીના છેડે નાયલોનના બે દોરા હોય છે. જેનો થોડો ભાગ યોનિમાર્ગમાં રહેલો હોય છે. માસિક પૂરું થયા પછી દરેક મહિને સ્ત્રીઓ પોતે બે આંગળી યોનીમાર્ગમાં મૂકીને નાયલોનની દોરી છે કે કેમ તેની તપાસ કરી લેવી જોઈએ. જો દોરો માલૂમ ન પડે તો તરત ડૉક્ટરને બતાવવું. ઘણી વાર એવું બને છે કે જો આંકડી બરાબર પહેરાતી ન હોય તો પહેલા ત્રણ-ચાર મહિનામાં તે આપોઆપ નીકળી જાય છે. કોમ્પ્લિકેશન: આંકડી મૂકતી વખતે અથવા તો તે પછી તેનાં કેટલાંક કોમ્પ્લિકેશન થઈ શકે. અલબત્ત, તે જૂજ હોય છે.
                </p>
                <p>(૧) ગર્ભાશયમાં કાણું પડવું : અણઘડ હાથે આંકડી મૂકાવી હોય તો ગર્ભાશયમાં આરપાર કાણું પડી જવાની શક્યતા છે.</p>
                <p>(૨) ઈન્ફેક્શન: લગભગ ૨ ટકા કેસમાં ગર્ભાશયમાં સોજો આવે છે અને તેને લીધે ક્યારેક ફરીથી બાળક થવાની શક્યતા ઘટી જાય છે. </p>
                <p>(૩) ગર્ભાધાન થવું : ૧૦૦૦ કેસોમાંથી માત્ર ૨ કેસમાં આંકડી પહેર્યા છતાં પણ ગર્ભ રહી જવાની શક્યતાઓ છે. ક્યારેક ફેલોપિયન ટયૂબમાં ગર્ભ રહી જવાની શક્યતા વધી જાય છે. આંકડી કઢાવવાનો સમય:</p>
                <p>(૧) સામાન્ય રીતે કોપર-ટી દર ત્રણ વર્ષે કઢાવવી જોઈએ. લીપ્પીસલૂપ મૂકાવી હોય તો તે ૧૦ થી ૧૨ વર્ષ સુધી ચાલે છે.</p>
                <p>(૨) આગળ જોયું તે પ્રમાણે બ્લીડિંગ ખૂબ ચાલુ રહેતું હોય અથવા તો અમર્યાદિત અને અસહ્ય પ્રમાણમાં દુખાવો ચાલુ રહેતો હોય તો આંકડી ગમે ત્યારે કઢાવી નાખવી હિતાવહ છે.</p>
                <p>(૩) આંકડી કઢાવ્યા પછી તરત જ બીજી આંકડી પહેરી શકાય છે. અને છેલ્લે જે એક ગેરસમજ પ્રવર્તે છે તે વિશે સ્પષ્ટતા કરવી અનિવાર્ય છે. એવી માન્યતા છે કે આંકડી પહેરવાની કૅન્સર થવાની શક્યતા રહેલી છે. આ વાત સદંતર ખોટી છે. સામાન્ય વપરાશમાં રહેલી આંકડીઓના નામ:</p>
                <p>(૧) લીપ્પીસ લૂપ </p>
                <p>(૨) કોપર-ટી </p>
                <p>(૩) મલ્ટી લોડ </p>
                <p>(૪) કોપર-સેવન </p>
                <p>(૫) સોનાવાલા લૂપ </p>
                <p>(૬) રોફ-ટી કોઈલ. - અમલા</p>
            </div>
        </div>
        <div class="row">
            <!-- News gallery start -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="whiteBlockGallery mb1 mt15 g-card">
                    <div class="whiteBlockGalleryTitle">
                        <h4>SPORTS</h4>
                        <div class="whiteBlockGalleryControls">
                            <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
                            <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
                            <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
                            <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
                        </div>
                    </div>
                    <div class="whiteBlockGallerySlider gCard">
                        <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
                            <div class="col-md-12">
                                <div class="whiteBlockSliderBlock pad1">
                                    <a href="javascript:void(0)">
                                        <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                                        <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                                        <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                                    </a>
                                    <button class="btn btn-more">More...</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="whiteBlockSliderBlock pad1">
                                    <a href="javascript:void(0)">
                                        <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                                        <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                                        <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                                    </a>
                                    <button class="btn btn-more">More...</button>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
            <!-- News gallery start -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="whiteBlockGallery mb1 mt15">
                    <div class="whiteBlockGalleryTitle">
                        <h4>ENTERTAINMENT</h4>
                        <div class="whiteBlockGalleryControls">
                            <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
                            <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
                            <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
                            <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
                        </div>
                    </div>
                    <div class="whiteBlockGallerySlider gCard">
                        <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
                            <div class="col-md-12">
                                <div class="whiteBlockSliderBlock pad1">
                                    <a href="javascript:void(0)">
                                        <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                                        <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                                        <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                                    </a>
                                    <button class="btn btn-more">More...</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="whiteBlockSliderBlock pad1">
                                    <a href="javascript:void(0)">
                                        <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
                                        <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
                                        <p> ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટ જગતનો 61 વર્ષ પહેલાનો રેકોર્ડ જેને આજ સુધી કોઇ તોડી શક્યું નથી ક્રિકેટની દુનિયામાં રોજ નવા રેકોર્ડ બને છે અને ટૂટે છે. પરંતુ આજથી 61 વર્ષ પહેલા..</p>
                                    </a>
                                    <button class="btn btn-more">More...</button>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
            <!-- News gallery start -->
            <!-- Main news section start -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ngCard mt15">
                    <div class="gCardTitle">
                        <h4>GUJARAT</h4>
                    </div>
                    <ul class="glist-style">
                        <li><a href="">ડિસ્કાઉન્ટ-ઓનલાઇન - Veena World</a></li>
                        <li><a href="">અમદાવાદ: વહુએ વૃધ્ધ દંપતિનુ મકાન પચાવી પાડ્યુ,પોલીસે પરત અપાવ્યુ</a></li>
                        <li><a href="">આજે ભરતસિંહ સોલંકી બેંગ્લુરૃ પહોંચશે, કામિનીબાએ પુત્રનો જન્મદિવસ ઉજવ્યો</a></li>
                        <li><a href="">ધો.૧૨ સાયન્સનું ૭.૬૩, સા.પ્ર.નું ૩૭.૧૫, ધો.૧૦નું ૨૭.૭ ટકા પરિણામ</a></li>
                        <li><a href="">કોંગ્રેસના સાત ધારાસભ્યો પાસે ક્રોસ વોટીંગ કરાવવાનો ભાજપનો વ્યૂહ</a></li>
                        <li><a href="">અફઘાનિસ્તાન,નેપાળને કરોડોની ખેરાત ને, ગુજરાતના પૂરપિડીતોને માત્ર ૫૦૦ કરોડની જ સહાય</a></li>
                        <li><a href="">ચોકની વચ્ચે લાવો,ગદ્દારોને પાઠ ભણાવો, કોંગ્રેસીઓએ ભાજપ કાર્યાલયે દેખાવો કર્યાં</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ngCard mt15">
                    <div class="gCardTitle">
                        <h4>INTERNATIONAL</h4>
                    </div>
                    <ul class="glist-style">
                        <li> <a href=""> Video : પાકિસ્તાનમાં નવાઝ શરીફની Sonu સ્ટાઇલમાં ઉડી મજાક અમેરિકન </a></li>
                        <li> <a href=""> દૂતાવાસના ૭૫૫ અધિકારીઓને રશિયા છોડવાનો પુતિનનો આદેશ પાક.નું </a> </li>
                        <li> <a href=""> પીએમ પદ સંભાળનારા અબ્બાસી પર રૃ.૨૨૦ અબજના ભ્રષ્ટાચારનો આરોપ </a> </li>
                        <li> <a href=""> કાબુલમાં ઇરાકી દૂતાવાસ પર ISનો આત્મઘાતી હુમલો: ચાર આતંકીનાં મોત </a> </li>
                        <li> <a href=""> અમેરિકા ઉ. કોરિયાથી નારાજ હોય તો તેની સાથે વેપાર બંધ કરી દે: ચીન </a></li>
                        <li> <a href=""> નવાઝ શરીફે સૈન્યનું અપમાન કરી પોતાને વડા પ્રધાન મોદી જેવા સાબીત</a> </li>
                        <li><a href=""> કર્યા : ઇમરાન ખાન રોબોટે પોતાની ભાષા વિકસાવતા ફેસબુકે AI સિસ્ટમ બંધ કરી</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ngCard mt15">
                    <div class="gCardTitle">
                        <h4>BUSINESS</h4>
                    </div>
                    <ul class="glist-style">
                        <li><a href=""> કેશ એન્ડ ફ્યુચર ઓપ્શન</a></li>
                        <li><a href=""> બજારની વાત</a></li>
                        <li><a href=""> શેરબજારથી દૂર ના ભાગો... કમાણીની બસ ચૂકી જશો</a></li>
                        <li><a href=""> સોના-ચાંદી તેમજ ક્રૂડ તેલના વાયદામાં પ્રવર્તતું મિશ્ર વલણ</a></li>
                        <li><a href="">જંગી પેમેન્ટ કટોકટીનો ઉકેલ લાવવા એનએસઈએલ દ્વારા રજૂઆત</a></li>
                        <li><a href="">શેરોમાં અવિરત ઐતિહાસિક તેજી : બેંક શેરોની આગેવાનીએ સેન્સેક્સ ૨૦૫ પોઈન્ટ ઉછળીને ૩૨૫૧૫ નવી ઊંચાઈએ</a></li>
                        <li><a href="">સ્મોલકેપ ઈન્ડેક્સની સાથોસાથ આ ક્ષેત્રના શેરોની નોંધપાત્ર આગેકૂચ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ngCard mt15">
                    <div class="gCardTitle">
                        <h4>Religion & Astro</h4>
                    </div>
                    <ul class="glist-style">
                        <li><a href=""> 1 ઓગસ્ટ 2017 : આજનું પંચાગ</a></li>
                        <li><a href=""> 1 ઓગસ્ટ 2017 : શું કહે છે તમારી રાશિ?</a></li>
                        <li><a href=""> શિવલિંગની પૂજા-અર્ચના કર્યા બાદ રુદ્રાક્ષની માળાથી મંત્રો જાપ કરો</a></li>
                        <li><a href=""> સોમવારે શિવ પૂજન કરતા રાખો આટલી વસ્તુઓનું ધ્યાન</a></li>
                        <li><a href=""> પાકિસ્તાનમા પણ શિવભક્તો શિવજીની પૂજા-અર્ચના કરે છે</a></li>
                        <li><a href=""> ઓગસ્ટ-2017: રાશિવાર શુભાશુભ તારીખ</a></li>
                        <li><a href="">31 જુલાઈ 2017 : શું કહે છે તમારી રાશિ?</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ngCard mt15">
                    <div class="gCardTitle">
                        <h4>NRI News</h4>
                    </div>
                    <ul class="glist-style">
                        <li><a href=""> ભારતીય મૂળની પ્રીતી કૌર ગિલ બ્રિટનની પહેલી મહિલા સાંસદ બની</a></li>
                        <li><a href="">અમેરિકામાં ટ્રેનની ટક્કર લાગતાંં ભારતીય અમેરિકન વકીલનું મોત</a></li>
                        <li><a href=""> મધર્સ ડેની કરેલી શાનદાર ઉજવણી સંગીતના કાર્યક્રમનું આયોજન</a></li>
                        <li><a href=""> પારૃલબેન શાહે પાંચમા પછી છઠ્ઠા વર્ષીતપની આરાધના શરૃ કરી</a></li>
                        <li><a href=""> શ્યામ તમે વાંસળીના સૂરથી માંડીને મોર બની થનગનાટ કરે સુધીના સોંગ</a></li>
                        <li><a href=""> અમેરિકન હેલ્થ કેર : પ્રજાનો ભરોસો જીતાતો નથી</a></li>
                        <li><a href="">૩૦ જૂન સુધીમાં PIO કાર્ડને OCI માં બદલવા સત્તાવાળાનો અનુરોધ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
<!-- middle content end -->