<!-- middle content end -->
<div ng-controller="slide-show-detail.controller">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="sideShowSlider mb2 singleImageSlider">
        <slick class="main-slider slider row" settings="slickConfig5">
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        </slick>
        <slick class="slider-nav slider row" settings="navConfig">
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sideShowBlock">
            <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
          </div>
        </div>
        </slick>
        <div class="content first" data-id="1">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 1</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
        <div class="content" data-id="2">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 2</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
        <div class="content" data-id="3">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 3</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
        <div class="content" data-id="4">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 4</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
        <div class="content" data-id="5">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 5</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
        <div class="content" data-id="6">
          <div class="contdesc gCard">
            <h3>હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી ગયા 6</h3>
            <p>ડિસા તાલુકામાં બનાથ નદી ગાંડીતૂર બની છે. કેટલાય લોકો તેમાં સપડાયા છે. પૂર જેવી સ્થિતિનું નિર્માણ થયુ છે. શહેરના નીચાણવાળા વિસ્તાર હાથીજણમાં પાણી લોકોના ઘરોમાં ઘૂસી જતા લોકોની ઘર વકરી નાશ પામી હતી</p>
          </div>
        </div>
      </div>
     

<!-- slide show -->
<div ng-controller="photo-gallery.controller">
<div class="mainFullBlock">
        <div class="full-width--block mb2">
          <div class="gCardTitle">
            <h4>Slide Show</h4>
            <div class="gCardControls">
              <button class="" ng-click="slickConfig1.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
              <button class="" ng-click="slickConfig1.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
            </div>
          </div>
          <div class="gCard">
            <div class="mainFullBlock">
              <slick class="row" settings="slickConfig1" ng-if="slickConfig1Loaded" dots="false" slides-to-show="3"  slides-to-scroll="1">
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="galleryBlock">
                  <a rel="example_group" title=""
                    href="assets/images/dummy-img.png"
                    fancyboxable="example1">
                    <img alt="" src="assets/images/dummy-img.png" alt="example1"/>
                    <p>ભારતના ભાગલાનું દર્દ એ કણસતુ ગુમડુ છે જે કાશ્મીરને નામે હજુય દુઝે છે</p>
                  </a>
                </div>
              </div>
              </slick>
            </div>
          </div>
        </div>
        </div>
        </div>
<!-- slide show -->

<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
<div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
</div>
</div>
</div>
<div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
</div>