<!-- middle content end -->
  <div ng-controller="category-home.controller">
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="mainFullBlock">
      <div class="gCardTitle">
        <h4>Latest Mumbai News </h4>
      </div>
      <div class="gCard">
        <div class="categoryBlock">
          <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
          <div class="categoryContent">
            <h2>મહાન અભિનેતા દિલીપકુમારને નાદુસ્ત તબિયતને કારણે હોસ્પિટલમાં દાખલ</h2>
            <p>August 03 at 2:00am</p>
            <a href="" class="moreAnchoreBlock">More</a> </div>
        </div>
        <div class="categoryBlock">
          <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
          <div class="categoryContent">
            <h2>મહાન અભિનેતા દિલીપકુમારને નાદુસ્ત તબિયતને કારણે હોસ્પિટલમાં દાખલ</h2>
            <p>August 03 at 2:00am</p>
            <a href="" class="moreAnchoreBlock">More</a> </div>
        </div>
        <div class="categoryBlock">
          <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
          <div class="categoryContent">
            <h2>મહાન અભિનેતા દિલીપકુમારને નાદુસ્ત તબિયતને કારણે હોસ્પિટલમાં દાખલ</h2>
            <p>August 03 at 2:00am</p>
            <a href="" class="moreAnchoreBlock">More</a> </div>
        </div>
        <div class="categoryBlock">
          <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
          <div class="categoryContent">
            <h2>મહાન અભિનેતા દિલીપકુમારને નાદુસ્ત તબિયતને કારણે હોસ્પિટલમાં દાખલ</h2>
            <p>August 03 at 2:00am</p>
            <a href="" class="moreAnchoreBlock">More</a> </div>
        </div>
        <div class="categoryBlock">
          <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
          <div class="categoryContent">
            <h2>મહાન અભિનેતા દિલીપકુમારને નાદુસ્ત તબિયતને કારણે હોસ્પિટલમાં દાખલ</h2>
            <p>August 03 at 2:00am</p>
            <a href="" class="moreAnchoreBlock">More</a> </div>
        </div>
      </div>
    </div>
    <div class="gCardTitle mt1">
      <h4>Mumbai  News for Aug, 2017 </h4>
    </div>
    <div class="gCard">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          
            <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
          
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        
            <p class="input-group datepicker">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><span class="glyphicon glyphicon-calendar"></span></button>
              </span> </p>
        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
      </div>
    </div>
  </div>
  <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
  </div>