<div ng-controller="sidebar.controller">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <!-- News gallery start -->
    <div class="whiteBlockGallery mb1">
      <div class="whiteBlockGalleryTitle">
        <h4>Top Read News</h4>
        <div class="whiteBlockGalleryControls">
          <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
          <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
          <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
          <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
        </div>
      </div>
      <div class="whiteBlockGallerySlider">
        <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
            <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
          </a>
        <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
        <p>કચ્છના અખાતમાં આવેલા મેન્ગ્રોવ્સ જંગલોને દેશના અનોખો મેન્ગ્રોવ્સ જંગલોમાં સ્થાન..</p>
        <a href="javascript:void(0)" class="moreAnchoreBlock">More</a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
        <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
      </a>
    <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
    <p>કચ્છના અખાતમાં આવેલા મેન્ગ્રોવ્સ જંગલોને દેશના અનોખો મેન્ગ્રોવ્સ જંગલોમાં સ્થાન..</p>
    <a href="javascript:void(0)" class="moreAnchoreBlock">More</a>
  </div>
</div>
</slick>
</div>
</div>
<!-- News gallery start -->
<!-- News gallery start -->
<div class="whiteBlockGallery opinion-poll">
<div class="whiteBlockGalleryTitle">
<h4>Opinion Poll</h4>
<div class="whiteBlockGalleryControls">
  <button class="" ng-click="slickConfig4.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
  <button ng-click='slickConfig4.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
  <button ng-click='slickConfig4.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
  <button class="" ng-click="slickConfig4.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
</div>
</div>
<div class="opinionPollTitle"><img src="assets/images/gujarat-samachar-icon.png" alt="" /></div>
<div class="opinionPollSlider">
<slick class="row" settings="slickConfig4" ng-if="slickConfig4Loaded" dots="false"  slides-to-show=1 slides-to-scroll=1 infinite=true>
<div class="col-md-12">
  <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
    <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
  <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
  <div class="view-more"><span>એચડીએફસી બેંકના શેરમાં ખરીદી</span></div>
</a>
<div class="opinionPollSliderRadioblock">
  <div class="custom-radio-group">
    <input id="yes" class="radio-control" type="radio" name="Status">
    <label for="yes" class="label">Yes</label>
  </div>
  <div class="custom-radio-group">
    <input id="no" class="radio-control" type="radio" name="Status">
    <label for="no" class="label">No</label>
  </div>
</div>
<div class="opinionPollSliderControl">
  <div class="pull-left"><a href="javascript:void(0)"><img src="assets/images/back-icon.png" alt="" /></a></div>
  <div class="pull-right"><a href="javascript:void(0)"><img src="assets/images/view-project-icon.png" alt="" /></a></div>
</div>
</div>
</div>
<div class="col-md-12">
<div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
<h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
<figure><img src="assets/images/news-img-1.png" alt="" /></figure>
<div class="view-more"><span>એચડીએફસી બેંકના શેરમાં ખરીદી</span></div>
</a>
<div class="opinionPollSliderRadioblock">
<div class="custom-radio-group">
<input id="yes1" class="radio-control" type="radio" name="Status">
<label for="yes1" class="label">Yes</label>
</div>
<div class="custom-radio-group">
<input id="no1" class="radio-control" type="radio" name="Status">
<label for="no1" class="label">No</label>
</div>
</div>
<div class="opinionPollSliderControl">
<div class="pull-left"><a href="javascript:void(0)"><img src="assets/images/back-icon.png" alt="" /></a></div>
<div class="pull-right"><a href="javascript:void(0)"><img src="assets/images/view-project-icon.png" alt="" /></a></div>
</div>
</div>
</div>
</slick>
</div>
</div>
<!-- News gallery start -->
<!-- advertisement start -->
<div class="mt1 advertisementSection"><img src="assets/images/advertisement-300-300.png" alt="" /></div>
<!-- advertisement end -->
<!-- News gallery start -->
<div class="whiteBlockGallery mt1">
<div class="whiteBlockGalleryTitle">
<h4>Gujarat Samachar Plus</h4>
<div class="whiteBlockGalleryControls">
<button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
<button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
<button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
<button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
</div>
</div>
<div class="whiteBlockGallerySlider">
<slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
<div class="col-md-12">
<div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
<h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
</a>
<figure><img src="assets/images/news-img-1.png" alt="" /></figure>
<p>કચ્છના અખાતમાં આવેલા મેન્ગ્રોવ્સ જંગલોને દેશના અનોખો મેન્ગ્રોવ્સ જંગલોમાં સ્થાન..</p>
<a href="javascript:void(0)" class="moreAnchoreBlock">More</a>
</div>
</div>
<div class="col-md-12">
<div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
<h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
</a>
<figure><img src="assets/images/news-img-1.png" alt="" /></figure>
<p>કચ્છના અખાતમાં આવેલા મેન્ગ્રોવ્સ જંગલોને દેશના અનોખો મેન્ગ્રોવ્સ જંગલોમાં સ્થાન..</p>
<a href="javascript:void(0)" class="moreAnchoreBlock">More</a>
</div>
</div>
</slick>
</div>
</div>
<!-- News gallery end -->

<!-- આપની આજ start -->
<div class="full-width--block mt1">
<div class="gCardTitle">
<h4>આપની આજ</h4></div>
<div class="gCard">
data
</div>
</div>
<!-- આપની આજ end -->

<!-- વૈવિધ્ય start -->
<div class="full-width--block mt1">
<div class="gCardTitle">
<h4>વૈવિધ્ય</h4></div>
<div class="ngCard">
<ul class="gmulti-list-style">
<li><a href="javascript:void(0)"> Delhi ni Vaat</a></li>
<li><a href="javascript:void(0)"> Int ane Imarat</a></li>
<li><a href="javascript:void(0)"> News Focus</a></li>
<li><a href="javascript:void(0)"> Vichar Vihar</a></li>
<li><a href="javascript:void(0)"> To the Point</a></li>
<li><a href="javascript:void(0)"> Tarot Card </a></li>
<li><a href="javascript:void(0)"> Vaat Aam Thay</a></li>
<li><a href="javascript:void(0)"> Weekly Astro</a></li>
<li><a href="javascript:void(0)"> Mangal Desai</a></li>
<li><a href="javascript:void(0)"> Boj Viana ni Moj</a></li>
<li><a href="javascript:void(0)"> Saransh</a></li>
</ul>
</div>
</div>
<!-- વૈવિધ્ય end -->
<!-- advertisement start -->
<div class="mt1 advertisementSection"><img src="assets/images/advertisement-300-300.png" alt="" /></div>
<!-- advertisement end -->
    <!-- News gallery start -->
    <div class="whiteBlockGallery mt1">
      <div class="whiteBlockGalleryTitle">
        <h4>GS Exclusive</h4>
        <div class="whiteBlockGalleryControls">
          <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
          <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
          <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
          <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
        </div>
      </div>
      <div class="whiteBlockGallerySlider">
        <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
             <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
          </a>
      </div>
    </div>
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
             <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
          </a>
      </div>
    </div>
</slick>
</div>
</div>
<!-- News gallery start -->
<!-- Lagna Vishayak start -->
<div class="full-width--block mt1">
<div class="gCardTitle">
<h4>Lagna Vishayak</h4></div>
<div class="ngCard">
<ul class="gmulti-list-style">
<li><a href="javascript:void(0)">USA Ads</a></li>
</ul>
</div>
</div>
<!-- Lagna Vishayak end -->

<!-- View Gujarat Samachar In PDF start -->
<div class="full-width--block mt1">
<div class="gCardTitle">
<h4>View Gujarat Samachar In PDF</h4></div>
<div class="gCard">
 <div class="form-group">
      <label>Select Category</label>
      <select class="form-control gselect" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>
    </div>
</div>
</div>
<!-- View Gujarat Samachar In PDF end -->
<!-- Archives start -->
<div class="full-width--block mt1">
<div class="gCardTitle">
<h4>Archives</h4></div>
<div class="gCard">
 <div class="form-group">
      <select class="form-control gselect" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>
    </div>
    <button type="button" class="moreAnchoreBlock mt0" ng-click="">Go</button>
</div>
</div>
<!-- Archives end -->
</div>