<div ng-controller="sidebar.controller">
<div class="col-md-4 col-sm-4 col-xs-12"> 
  <!-- advertisement start -->
  <div class="advertisementSection mb1"><img src="assets/images/advertisement-300-300.png" alt="" /></div>
  <!-- advertisement end --> 
  <!-- News gallery start -->
  <div class="whiteBlockGallery mb1">
    <div class="whiteBlockGalleryTitle">
      <h4>Top Read News</h4>
      <div class="whiteBlockGalleryControls">
        <button class="" ng-click="slickConfig2.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
        <button ng-click='slickConfig2.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
        <button ng-click='slickConfig2.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
        <button class="" ng-click="slickConfig2.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
      </div>
    </div>
    <div class="whiteBlockGallerySlider">
      <slick class="row" settings="slickConfig2" ng-if="slickConfig2Loaded" dots="false">
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
            <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
            <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
            </a> </div>
        </div>
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
            <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
            <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
            </a> </div>
        </div>
      </slick>
    </div>
  </div>
  <!-- News gallery start --> 
  <!-- News gallery start -->
  <div class="whiteBlockGallery opinion-poll">
    <div class="whiteBlockGalleryTitle">
      <h4>Opinion Poll</h4>
      <div class="whiteBlockGalleryControls">
        <button class="" ng-click="slickConfig4.method.slickPrev()"><img src="assets/images/prev-arrow-icon.png" alt="" /></button>
        <button ng-click='slickConfig4.method.slickPlay()'><img src="assets/images/play-arrow-icon.png" alt="" /></button>
        <button ng-click='slickConfig4.method.slickPause()'><img src="assets/images/pause-arrow-icon.png" alt="" /></button>
        <button class="" ng-click="slickConfig4.method.slickNext()"><img src="assets/images/next-arrow-icon.png" alt="" /></button>
      </div>
    </div>
    <div class="opinionPollTitle"><img src="assets/images/gujarat-samachar-icon.png" alt="" /></div>
    <div class="opinionPollSlider">
      <slick class="row" settings="slickConfig4" ng-if="slickConfig4Loaded" dots="false"  slides-to-show=1 slides-to-scroll=1 infinite=true>
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
            <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
            <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
            <div class="view-more"><span>એચડીએફસી બેંકના શેરમાં ખરીદી</span></div>
            </a>
            <div class="opinionPollSliderRadioblock">
              <div class="custom-radio-group">
                <input id="yes" class="radio-control" type="radio" name="Status">
                <label for="yes" class="label">Yes</label>
              </div>
              <div class="custom-radio-group">
                <input id="no" class="radio-control" type="radio" name="Status">
                <label for="no" class="label">No</label>
              </div>
            </div>
            <div class="opinionPollSliderControl">
              <div class="pull-left"><a href="javascript:void(0)"><img src="assets/images/back-icon.png" alt="" /></a></div>
              <div class="pull-right"><a href="javascript:void(0)"><img src="assets/images/view-project-icon.png" alt="" /></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="whiteBlockSliderBlock"> <a href="javascript:void(0)">
            <h2>અમરનાથ યાત્રા પર હુમલા બાદ યોજાયેલી હાઇ લેવલ મીટિંગ સંપન્ન, પાંચ નિર્ણય</h2>
            <figure><img src="assets/images/news-img-1.png" alt="" /></figure>
            <div class="view-more"><span>એચડીએફસી બેંકના શેરમાં ખરીદી</span></div>
            </a>
            <div class="opinionPollSliderRadioblock">
              <div class="custom-radio-group">
                <input id="yes1" class="radio-control" type="radio" name="Status">
                <label for="yes1" class="label">Yes</label>
              </div>
              <div class="custom-radio-group">
                <input id="no1" class="radio-control" type="radio" name="Status">
                <label for="no1" class="label">No</label>
              </div>
            </div>
            <div class="opinionPollSliderControl">
              <div class="pull-left"><a href="javascript:void(0)"><img src="assets/images/back-icon.png" alt="" /></a></div>
              <div class="pull-right"><a href="javascript:void(0)"><img src="assets/images/view-project-icon.png" alt="" /></a></div>
            </div>
          </div>
        </div>
      </slick>
    </div>
  </div>
  <!-- News gallery start --> 
  <!-- advertisement start -->
  <div class="mt1 advertisementSection"><img src="assets/images/advertisement-300-300.png" alt="" /></div>
  <!-- advertisement end --> 
  <!-- Search section start -->
  <div class="search-section mt1">
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search" />
      <button class="search-btn" type="submit"><img src="assets/images/search-icon.png" alt="" /></button>
    </form>
  </div>
  <!-- Search section end --> 
  <!-- Post section start -->
  <div class="pillSection postSection mt1">
    <uib-tabset type="pills">
      <uib-tab heading="Recent Post">
        <div class="whiteBlock">
          <div class="pNumber"><span>1</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
        <div class="whiteBlock">
          <div class="pNumber"><span>2</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
        <div class="whiteBlock">
          <div class="pNumber"><span>3</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
        <div class="whiteBlock">
          <div class="pNumber"><span>4</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
        <div class="whiteBlock">
          <div class="pNumber"><span>5</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
        <div class="whiteBlock">
          <div class="pNumber"><span>6</span></div>
          <div class="rightContent"><a href="javascript:void(0)">અમદાવાદમાં સતત ચાલુ રહેલો ઝરમરિયો વરસાદ:વાદળિયો માહોલ </a></div>
        </div>
      </uib-tab>
      <uib-tab heading="Slide Show">Popular Post </uib-tab>
    </uib-tabset>
  </div>
  <!-- Post section end --> 
  <!-- advertisement start -->
  <div class="mt1 advertisementSection"><img src="assets/images/advertisement-300-300.png" alt="" /></div>
  <!-- advertisement end --> 
</div>