<!-- middle content end -->
 <div ng-controller="category-home.controller">
<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="mainFullBlock">
            <div class="gCardTitle">
                <h4>Latest Ahmedabad News</h4></div>
            <div class="gCard">
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>ડિપોઝિટર્સ પાસે રૃા.૧૦ના સિક્કાઓ સ્વીકારવાનો બેન્કોનો ઈન્કાર!!</h2>
                        <p>August 11 at 2:11pm</p>
                        <p>-બેન્કોની દાદાગીરી સામે લોકો લાચાર ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>કોંગ્રેસના સાત બળવાખોર ધારાસભ્યોએ રાજીનામા આપી દીધા</h2>
                        <p>August 11 at 12:31pm</p>
                        <p>- વિધાનસભાના અધ્યક્ષ રમણલાલ વોરાને રાજીનામા આપ્યા..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>ટ્રાફિક જામને કારણે "ખેતલાઆપા ટી સ્ટોલ"ને મનપાએ માર્યા તાળા</h2>
                        <p>August 11 at 10:29am</p>
                        <p>- ટ્રાફિકને લીધે અકસ્માતના બનાવ પણ બનતા હતા..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>શહેર-જિલ્લામાં બે સ્વાઇનફ્લૂ પોઝિટિવ દર્દીઓ મળી આવ્યા</h2>
                        <p>August 11 at 2:00am</p>
                        <p>સ્વાઇનફ્લૂના કેસમાં ચિંતાજનક વધારો ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>તકસાધુ નેતાઓ વસંત વગડો છોડી કોંગ્રેસ કાર્યાલયમાં આવી ગયા..!</h2>
                        <p>August 11 at 2:00am</p>
                        <p>- રાજકીય ટર્નિંગ પોઇન્ટ સમા રાજ્યસભાના પરિણામો બાદ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>ગુજરાતમાં સ્વાઇન ફ્લૂ વકર્યો, ૧૮ કલાકમાં ચારના મોત, આરોગ્ય તંત્ર દોડતુ થયું</h2>
                        <p>August 11 at 2:00am</p>
                        <p>-અમદાવાદમાં ૯ દિવસમાં સ્વાઇન ફ્લૂના ૧૫ દર્દીઓના મૃત્યુ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>જન્માષ્ટમીના તહેવારમાં ગોવા જવા માટે આઠ ગણું એરફેર છતાં જુગારીઓના ધામા</h2>
                        <p>August 11 at 2:00am</p>
                        <p>-ગોવા જવા સામાન્ય દિવસોમાં એરફેર રૃ. ૨૬૦૦ જ્યારે હાલમાં રૃ. ૧૬ હજાર..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>કોંગ્રેસ નો ઓપ્શન મોડમાં, પક્ષવિરોધીઓનું લિસ્ટ તૈયાર કરાયું</h2>
                        <p>August 11 at 2:00am</p>
                        <p>-વિધાનસભાની ચૂંટણી પહેલાં પક્ષમાં સાફસૂફીની તૈયારીઓ શરૃ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>સોલાના બેઝનેસમેન પાસેથી કોલસો ખરીદીને ૮.૬૬ કરોડની છેતરપિંડી</h2>
                        <p>August 11 at 2:00am</p>
                        <p>-સોલા હાઈકોર્ટ પોલીસ સ્ટેશનમાં બે આરોપી સામે પોલીસ ફરિયાદ નોંધાઈ..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="categoryBlock">
                    <figure><img src="https://dummyimage.com/600x400/ada8ad/fff"></figure>
                    <div class="categoryContent">
                        <h2>ખેતરમાંથી પસાર થતી હાઇવોલ્ટેજ લાઇનોને લઈને જમીનનું વળતર ચૂકવવા નિર્ણય</h2>
                        <p>August 11 at 2:00am</p>
                        <p>-જમીનના મૂલ્યના ૭.૫ ટકા લેખે ચુકવણું થશે..</p>
                        <a href="" class="moreAnchoreBlock">More</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   
                        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </ul>
                   
                </div>
            </div>
        </div>
        <div class="gCardTitle mt1">
            <h4>Mumbai  News for Aug, 2017  </h4></div>
        <div class="gCard">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </ul>
                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                        <p class="input-group datepicker">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
          </span>
                        </p>
                    
                </div>
            </div>
        </div>
           <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="advertisementSection mt1"><img src="assets/images/advertisement-300-300.png" alt=""></div>
      </div>
    </div>
    </div>
    <div class="sideBar" ng-include="'partial-views/sidebar.html'"></div>
</div>
</div>